.ending-container{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   gap: 15px;
    color: white;
    padding: 20px 0;

}

.git-button, .contact-btn{
display: flex;
align-items: center;
padding: 5px 50px 5px 10px ;
gap: 10px;
color: white;
border-radius: 20px;
border: 1px solid white;
cursor: pointer;
background-color: transparent;
}

.btn-text{
    font-weight: bold;
    letter-spacing: 1px;
}

.button-list> button{
    background-color: transparent;
border: none;
    padding: 5px;
}

.contact-text{
    width: 70vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    background-color: #141C3A;
    padding: 40px 50px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    margin-top: 40px;
    margin-bottom: 100px;
}

.text-t{
    width: 500px;
}

.button-list{
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    background: #C3ABE2;
    padding: 20px 100px ;
    border-radius: 10px;
    
}

.button-list > button{
    cursor: pointer;
}

@media screen and (max-width:900px) {

    .contact-text{
        flex-direction: column;
        justify-content: center;
    }

    .text-t{
        width: 70vw;
        
    }
    
}

.contact-btn{
    padding: 10px;
}

.btn-text{
    padding: 2px 5px;
}