.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.hireme-button{
    margin-left: 25px;
    padding:10px 20px;
    border-radius: 100px;
    background-color: white;
    border: 2px solid #1252A3;
    color: #1252A3;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;

    transition: all 0.3s ease;

}

.logo{
    font-family: "Pacifico", cursive;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 10px;
    border: none;
    border-radius: 100px;
    background-color: #c3abe2;
    cursor: pointer;
}

.hireme-button:hover{
    background-color: #1252A3;
    color: white;
    

    /* transform: scale(1.1); */
}
.nav-projects{
    cursor: pointer;
}

.nav-projects:hover{
    text-decoration: underline;
}