.skill-container{
   
    max-width: 800px;
    margin: 50px auto;
    background-color: white;
    text-align: center;
    padding: 50px;
    border-radius: 20px;
}

.tech-title{
    color: #141C3A;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 25px;
    margin-top: 25px;
}

.tech-description{
    font-weight: bold;
}

ul{
    list-style:  none;
}

li{
    font-weight: bold;
    color: white;
    background-color: #4b484e;
    margin: 15px auto;
    padding: 10px;
    border-radius: 20px;
    width: 250px;
    text-align: center;
}