.skill-container{
    max-width: 80vw;
    margin: 0 auto;
    background-color: white;
    text-align: center;
}

.tech-title{
    color: #6E07F3;
    font-weight: bold;
    font-size: 1.5rem;
}

.tech-description{
    font-weight: bold;
}

ul{
    list-style:  none;
}